
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
  background: white;
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.list-group-item.active {
  background-color: rgb(255, 173, 0);
  border-color: rgb(255, 173, 0);
}
a {
  color: rgb(255, 173, 0);
}
a:hover {
  color: #666;
}
.btn-primary {
  color: #fff;
  background-color: #0092ca;
  border-color: #0092ca;
}
.btn-primary:hover {
  background-color: #01729e;
  border-color: #01729e;
}
.paginate_button {
  border: 1px solid;
  margin-right: 2px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ffad00;
  border-color: #ffad00;
  color: white;
}
.paginate_button:hover {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}